[submodule "Fragment/vendor/spdlog"]
	path = Fragment/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Fragment/vendor/GLFW"]
	path = Fragment/vendor/GLFW
	url = https://github.com/Rypryp/glfw
[submodule "Fragment/vendor/imgui"]
	path = Fragment/vendor/imgui
	url = https://github.com/Rypryp/imgui
